@using Newtonsoft.Json;
@model List<EPYSLSAILORAPP.Domain.RPC.rpc_tran_mcd_requisition_slip_DTO>;
@{
    ViewBag.Title = "Range Plan";
    Layout = null;

}
<style>
    .fa-x {
        font-size: 1.7em !important;
    }

</style>

<form method="POST" id="frmAddFabric" class="my-login-validation" novalidate="" enctype="multipart/form-data" autocomplete="off">

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                
                <table style="font-size:10px;" id="DTTranFabricDetailsList" class=" table dataTable table-striped table-bordered" cellspacing="0">
                    <thead>
                        <tr>
                            <th style="width:350px;display:none"><label class="labelNormal">Fabric Details</label></th>
                            <th style="width:350px;display:none"><label class="labelNormal">Item Id</label></th>
                            <th style="width:200px;"><label class="labelNormal">Construction</label></th>
                            <th style="width:450px;"><label class="labelNormal">Composition</label></th>                            
                            <th style="width:70px;"><label class="labelNormal">GSM</label></th>
                            <th style="width:100px;"><label class="labelNormal">Dia</label></th>
                            <th><label class="labelNormal  ">Measurement Type</label></th>
                            <th style="width:350px;display:none"><label class="labelNormal  ">Measurement Unit Id</label></th>
                            <th style="width:60px;"><label class="labelNormal  ">total recv Qty</label></th>
                            <th style="width:60px;"><label class="labelNormal  ">Stock Qty</label></th>
                            <th style="width:60px;"><label class="labelNormal  ">Booking Qty</label></th>
                            <th style="width:350px;display:none"><label class="labelNormal">gen subgroup ID</label></th>
                            <th><label class="labelNormal ">Action</label></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int count = 1;
                        }
                        @foreach(var obj in Model)
                        {
                        <tr>
                          <td style="display:none;"><input type='text' hidden class='form-control item_id' value="@obj.all_segment_text" style="visibility:hidden"></td>
                          <td style="display:none;"><input type='text' hidden class='form-control gen_item_id' value="@obj.gen_item_master_id" style="visibility:hidden"></td>
                          <td><input type='text' class='form-control item_id' value="@obj.segment_det1_text"></td>
                          <td><input type='text' class='form-control item_id' value="@obj.segment_det2_text"></td>
                          <td><input type='text' class='form-control item_id' value="@obj.segment_det3_text"></td>
                          <td><input type='text' class='form-control item_id' value="@obj.segment_det4_text"></td>
                          <td><input  type='text' class='form-control' value="@obj.measurement_unit"></td>
                          <td style="display:none;"><input type='text' hidden class='form-control gen_munit_id' value="@obj.measurement_unit_detail_id" style="visibility:hidden"></td>
                          <td><input type='text' class='form-control' value="@obj.available_stock_quantity"></td>
                          <td><input type='text' class='form-control' value="@obj.booking_quantity"></td>
                          <td style="display:none;"><input type='text' hidden class='form-control gen_subGroup_id' value="@obj.gen_item_structure_group_sub_id" style="visibility:hidden"></td>
                          <td><input type="button" value="Add" class="addFabricRow" style="width:50px; background:green;color:#fff;font-weight:600;"></td>
                        </tr>
                        count++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</form>

<script>

    $(".addFabricRow").click(function () {
        
        // Select input fields in the same row
        var itemName = $(this).closest("tr").find(".item_id").val();
        var itemId = $(this).closest("tr").find(".gen_item_id").val();
        var munitId = $(this).closest("tr").find(".gen_munit_id").val();
        var gen_subGroup_id = $(this).closest("tr").find(".gen_subGroup_id").val();

        var measurementUnit = $(this).closest("tr").find(".form-control").eq(6).val(); // Assuming measurement unit input is the second input
        var avlStockQty = $(this).closest("tr").find(".form-control").eq(8).val();
        var bookingQty = $(this).closest("tr").find(".form-control").eq(9).val();
        // Construct HTML for new row
        var newRowHtml = "<tr>" +
  
            "<td><input type='text' style='width: 300px;' value='" + itemName + "'></td>" +
            "<td style='display:none'><input type='text' style='width: 300px;' class='gen_item_id' value='" + itemId + "'></td>" +
            "<td><input type='text' style='width: 80px;'  value='" + measurementUnit + "'></td>" +
            "<td style='display:none'><input type='text' style='width: 80px;' class='gen_unit_id' value='" + munitId + "'></td>" +
            "<td><input type='text' style='width: 80px;'></td>" +
            "<td><input type='text' style='width: 70px;' class='avlStockQunty' value='" + avlStockQty + "'></td>" +
            "<td><input type='text' style='width: 70px;' class='bookingQty' value='" + bookingQty + "'></td>" +
            "<td><input type='text' style='width: 70px;'></td>" +
            "<td><input type='text' style='width: 70px;'></td>" +
            "<td><input type='text' style='width: 100px;'></td>" +
            "<td style='display:none'><input type='text' style='width: 300px;' class='gen_subGroup_id' value='" + gen_subGroup_id + "'></td>" +
            //"<td> <button class='btn btn-danger' aria - hidden='false' onclick = 'deleteRow(this)' > <i class='fa fa-trash' aria - hidden='true' > </i></button ></td>" +
            "<td><button onclick='deleteRow(this)'> <i class='fa fa-trash fa-x text-danger' style='font-size:large'></i></button ></td>" +
            "</tr>";
       
        // Append new row to the tbody of the data table
        $("#modalcontainer #DTTranFabricDetailRowEdit tbody").append(newRowHtml);
    });

    function deleteRow(button) {
        var row = button.parentNode.parentNode;
        row.parentNode.removeChild(row);
    }

</script>





