@{
    var version = Guid.NewGuid().ToString();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title | Sailor ERP</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link href="~/Content/google-fonts-local.css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic" rel="stylesheet" />
    <link href="~/App_Themes/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/dashboard-bundle.min.css" rel="stylesheet" />
    <link href="~/App_Themes/plugins/syncfusion-ej2/material.css" rel="stylesheet" />
    
  
   
    <script src="~/lib/jquery/dist/jquery.js"></script>

    <link href="~/css/site.css" rel="stylesheet" />

    <!-- Main JS -->
    <script src="~/lib/customjs/main.js"></script>

    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
 
  @*   <!-- Style Css -->
    <link rel="stylesheet" href="~/Synto_Themes/plugins/css/style.css" asp-append-version="true"> *@

    <!-- Simplebar Css -->
    @* <link rel="stylesheet" href="~/Synto_Themes/plugins/libs/simplebar/simplebar.min.css" asp-append-version="true"> *@

    <!-- Color Picker Css -->
    @* <link rel="stylesheet" href="~/Synto_Themes/plugins/libs/simonwep/pickr/themes/nano.min.css" asp-append-version="true"> *@

    @RenderSection("styles", false)
</head>

<body class="hold-transition skin-grey sidebar-mini fixed">
    <div class="wrapper">

        <!-- Main Header -->
        <header class="main-header">

            <!-- Logo -->
            <a href="#!" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>E</b>PY</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg">
                    <img src="~/Images/logo.png" />
                </span>
            </a>

            <!-- Header Navbar -->
            <nav class="navbar navbar-fixed-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li><a target="_blank" href="../../helpfile/Introduction.html"><i class="fa fa-question-circle-o text-aqua"></i> <span>Help</span></a></li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">My Account <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#!" data-controller-name="Account" data-action-name="Profile" onclick="clickAccountNavigation(event);"><i class="fa fa-user text-aqua"></i>&nbsp;Profile</a></li>
                                <li><a href="#!" data-controller-name="Account" data-action-name="ChangePasswordPartial" onclick="clickAccountNavigation(event);"><i class="fa fa-user-secret text-aqua"></i>&nbsp;Change Password</a></li>
                                <li><a role="button" onclick="logout()"><i class="fa fa-sign-out text-aqua"></i>&nbsp;Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">

            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">

                <!-- Sidebar user panel (optional) -->
                <div class="user-panel">
                    <div class="pull-left image" style="min-height: 45px; max-height: 45px;">
                        <img src="@ViewBag.ProfilePic" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>@ViewBag.EmployeeName</p>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <ul class="sidebar-menu" data-widget="tree"></ul>
                <!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!--Hidden Fields-->
            <input type="hidden" id="hidComboBoxSource" value="@ViewBag.hidComboBoxSource" />
            <input type="hidden" id="versionNumer" value="@Guid.NewGuid()" />
            <input type="hidden" id="isSuperUser" value="@ViewBag.IsSuperUser" />
            <!--End of Hidden Fields-->
            @RenderBody()
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="page-footer blue-grey lighten-5">
            <div class="footer-copyright">
                <div class="container center grey-text text-darken-4">
                    © Copyright <a target="_blank" href="https://www.epylliongroup.com">Epyllion Group</a>. All rights reserved.
                </div>
            </div>
        </footer>
    </div>

    <!-- popperjs -->
    <script src="~/libs/popperjs/core/umd/popper.min.js"></script>

    <!-- Color Picker JS -->
    <script src="~/libs/simonwep/pickr/pickr.es5.min.js"></script>

    <!-- sidebar JS -->
    @*<script src="~/Synto_Themes/plugins/js/defaultmenu.js"></script>*@

    <!-- sticky JS -->
    @*<script src="~/Synto_Themes/plugins/js/sticky.js"></script>*@

    <!-- Switch JS -->
    @* <script src="~/Synto_Themes/plugins/js/switch.js"></script> *@

    <!-- Preline JS -->
    <script src="~/libs/preline/preline.js"></script>

    <!-- Simplebar JS -->
    <script src="~/libs/simplebar/simplebar.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

    <!-- Custom JS -->
    @*<script src="~/Synto_Themes/plugins/js/custom.js"></script>*@

    <!-- Custom-Switcher JS -->
    @* <script src="~/Synto_Themes/plugins/js/custom-switcher.js"></script> *@
    @*<script src="~/synto_themes/plugins/libs/axios/axios.min.map"></script>*@
    <script src="~/libs/axios/axios.min.js"></script>
    <script src="~/app_themes/home/js/init.js"></script>
    @* <!-- ./wrapper -->
    <script src="~/Scripts/dashboard-bundle.min.js"></script>
    <script src="~/App_Themes/plugins/syncfusion-ej2/ej2.min.js"></script>
    <script src="~/Scripts/common/common-helpers.js?version=@version"></script>
    <script src="~/Scripts/common/app.js?version=@version"></script> *@
    @* @RenderSection("scripts", false) *@
</body>
</html>