@using EPYSLSAILORAPP.Domain.DTO;
@using EPYSLSAILORAPP.Domain.Entity;
@using EPYSLSAILORAPP.Domain.RPC;
@using Newtonsoft.Json;
@model EPYSLSAILORAPP.Application.DTO.RPC.rpc_tran_finishing_production_DTO;
@{
    ViewBag.Title = "Finishing Receive";
    Layout = null;
}
<style>
    #toolbarId select {
        font-size: 11px !important;
    }

    .btninnerClose {
        color: #a52711;
        width: 26px;
        border: 1px solid #6f2d23;
        font-size: 22px;
        margin-top: 6px;
    }

    .dataTables_wrapper {
        margin-top: -40px;
    }

    .select_style {
        height: 30px;
    }

    .dataTable select {
        height: 25px !important;
        font-size: 10px !important;
    }

    .card-body {
        padding-bottom: 0px;
        padding-top: 0px;
        padding: 0rem 0rem;
    }

    .box {
        margin-bottom: 0.5rem;
        border: 0px !important;
    }

    .box-header {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        font-weight: 500;
        font-size: 12px;
    }

    .box-title {
        font-size: 12px;
        line-height: 1rem;
    }

    .form-group1 {
        margin-bottom: 3px !important;
        padding: 0.1rem !important;
        font-size: 12px !important;
    }

    #fileNamesContainer p {
        margin-bottom: 0;
    }

</style>

<form method="POST" id="frmAdd" class="my-login-validation" novalidate="" enctype="multipart/form-data" autocomplete="off">
    <div class="card">
        <div class="card-header">
            <h6 class="card-title">Finishing Production</h6>
        </div>
        <!-- /.card-header -->
        <input type="hidden" id="supplierId" value="">


        <div class="row">
            <div class="col-md-12">
                <div class="row">

                    <div class="col-md-3">
                        <div class="form-group1" style="margin-bottom: 0.3rem;">
                            <label class="col-sm-4 col-form-label-sm text-left" style="font-size:12px;margin-bottom: 0; padding: 0;">Receive Date</label>
                            <input style="width:100%" id="FinishingReceiveDate" asp-for="@Model.tran_finish_receive_date" type="date" class="border-#d1cccc-200 form-control " />

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group1">
                            <label class="col-sm-6 col-form-label-sm text-left" style="font-size:12px;margin-bottom: 0; padding: 0;">Item Category</label>
                            <input style="width:100%" type="text" id="ItemCategory" asp-for="@Model.style_item_product_category" class="border-#d1cccc-200 form-control " />
                            <input type="hidden" id="style_item_product_id" value="@Model.style_item_product_id">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group1">
                            <label class="col-sm-6 col-form-label-sm text-left" style="font-size:12px;margin-bottom: 0; padding: 0;">Techpack No</label>
                            <input style="width:100%" id="TechpackId" asp-for="@Model.techpack_number" type="text" class="border-#d1cccc-200 form-control " />
                            <input type="hidden" id="tran_sewing_output_id" value="">
                            @* <input type="hidden" id="techpack_id" value="@Model.techpack_id"> *@
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group1">
                            <label class="col-sm-6 col-form-label-sm text-left" style="font-size:12px;margin-bottom: 0; padding: 0;">Note</label>
                            <input style="width:100%" id="note" type="text" class="border-#d1cccc-200 form-control " />

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group1">
                            <label class="col-sm-6 col-form-label-sm text-left" style="font-size:12px;margin-bottom: 0; padding: 0;">Finish Process Name</label>
                            <input style="width:100%" id="FinishingProcessName" type="text"  class="border-#d1cccc-200 form-control " />

                            <input style="width:100%" id="FinishingProcessId" type="hidden" class="border-#d1cccc-200 form-control " />
                        </div>
                    </div>


                </div>

                <div class="row">

                    <div class="col-md-3">
                        <div class="form-group1">
                            <button style="width:152px;margin-top: 15px;" type="button" class="btn btn-success" onclick="AddProductionReceiveDetailTable();"><i class="fa fa-file-open"></i>&nbsp;Add Color</button>&nbsp;&nbsp;&nbsp;
                        </div>
                    </div>

                </div>

            </div>

        </div>


        <div class="row" id="FinishingReceiveDetrails" style="">
            <div class="col-md-12">
                <div class="box">

                    <table style="font-size:10px;" id="DTProductionBatchDetailReceive" class=" table dataTable table-striped table-bordered" cellspacing="0">
                        <thead>
                            <tr>
                                <th><label class="labelNormal" style="width:35px">SL No</label></th>
                                <th><label class="labelNormal">Color</label></th>
                                <th style="display:none"><label class="labelNormal">Size</label></th>
                                <th><label class="labelNormal">Color Qty</label></th>
                                <th><label class="labelNormal">Finishing Receive Qty</label></th>
                                <th><label class="labelNormal">Already Received Qty</label></th>
                                <th><label class="labelNormal">Production Qty</label></th>
                                <th><label class="labelNormal">Balance Qty</label></th>
                            </tr>
                        </thead>
                        <tbody id="tableBodywork">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-12" style="margin-bottom: 5px;text-align:right;">

                <button style="width:150px;" type="button" class="btn btn-success " id="btnSaveFabricPo1" onclick="SaveFinishingProduction(this);"><i class="fa fa-file-open"></i>&nbsp;Save Draft</button>&nbsp;&nbsp;&nbsp;
                <button style="width:180px; display:none" type="button" class="btn btn-success " id="btnSaveFabricPo" onclick="SaveFabricRequisitionSlip(this);"><i class="fa fa-file-open"></i>&nbsp;Proposed For Approve</button>
            </div>
        </div>

    </div>
    <!-- /.card-body -->
</form>
@* style="z-index:1060;" *@
<div id="modalcontainer_detl2" class="modal fade hidden-print" role="dialog" tabindex="-1">
    <div class="modal-dialog" style="width: 50% !important; max-width: 60% !important; ">
        <div class="modal-content" id="modalcontainer_common_popup_content2">

            <div class="modal-header" style="padding:0px;background-color: #bc7b20;color: white;">

                <div class="row" style="width:100%;margin: 5px !important;">
                    <div class="col-md-6">
                        <h3 class="modal-title" style="line-height: 1.5; font-size: 19px;">
                            Add Details
                        </h3>
                    </div>
                    <div class="col-md-6" style="text-align:right;">


                        <button type="button" id="btnModalClose_detl" class="btn btn-danger btn-md cancel" onclick="closePopup();">X</button>

                    </div>
                </div>
            </div>
            <div class="card" style="display:block;">
                <div class="card-body" style="padding-bottom: 10px; padding-top: 10px;height:150px">
                    <div class="row">
                        <div class="col-md-12" id="modalcontent_detl2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>


    $(document).ready(function () {
       
    });

    function AddProductionReceiveDetailTable(btn) {


        //var techpack_id = $("#techpack_id").val();
        setTimeout(function () {
            showLoader("Loading..........");
        }, 0);

        ajaxGetHandler("/FinishingProductionProcess/AddDetailColorWise?techpack_id=" + $("#techpack_id").val(), null, function (data) {

            setTimeout(function () {
                hideLoader();
            }, 0);


            // $('#modalcontainer #modalcontent_detl').html(data);
            // $('#modalcontainer #modalcontainer_detl').modal({ backdrop: 'static', keyboard: false });
            // $('#modalcontainer #modalcontainer_detl').modal("show");

            $('#modalcontent_detl2').html(data);
            $('#modalcontainer_detl2').modal({ backdrop: 'static', keyboard: false });
            $('#modalcontainer_detl2').modal("show");


        });
    }


    function closePopup() {

        $('#modalcontent_detl2').html("");
        $('#modalcontainer_detl2').modal("hide");
        $('#modalcontainer_detl2').on('hidden.bs.modal', function () {
            $('body').addClass('modal-open');
        });
    }

</script>

<script>
    var batch_List = [];
    var batchno = 0;

    function AddProductionColorDetails(btn) {
        
        // $.each($("#DTReceiveOutput tbody tr"), function (key, val) {
        //if ($(this).find(".is_select")[0].checked) {
        //var batch_id = check_textbox_value($(this).find(".tran_cutting_color_batch_id"));
        //var techpack_id = $('#techpack_id').val();
        var colorCode = $('#ddl_color').val();
        var finishingProcessId = $('#FinishingProcessId').val();

        ajaxGetHandler("/FinishingProductionProcess/GetDetaiilsReceiveProduction?techpack_id=" + $("#techpack_id").val() + "&colorCode=" + encodeURIComponent(colorCode) + "&finishingProcessId=" + finishingProcessId, null, function (data) {
            var table = document.getElementById("DTProductionBatchDetailReceive").getElementsByTagName('tbody')[0];
            var serialNo = table.rows.length + 1;
            var existingBatchIds = [];
            var isCleared = false;

            data.data.forEach(function (obj, index) {


                var newRow = table.insertRow(table.rows.length);

                var serialCell = newRow.insertCell(0);
                serialCell.innerHTML = serialNo;
                serialNo++;

                var cell1 = newRow.insertCell(1);
                var cell2 = newRow.insertCell(2);
                var cell3 = newRow.insertCell(3);
                var cell4 = newRow.insertCell(4);
                var cell5 = newRow.insertCell(5);
                var cell6 = newRow.insertCell(6);
                var cell7 = newRow.insertCell(7);

                var color_qty = 10;

                var bal_qty = "";
                var finish_receive_qty = obj.finish_receive_qty;
                var production_quantity = obj.production_quantity;
                if (finish_receive_qty !== null && finish_receive_qty !== "") {
                    bal_qty = finish_receive_qty - obj.production_quantity;
                }
                else {
                    bal_qty = "0";
                }

               
                if (bal_qty == 0) {
                    alert('Already finish receive quantity sent for production process!!');
                    table.innerHTML = "";
                    isCleared = true; 
                    return; 
                }

                if (isCleared) {
                    return;
                }

                    cell1.innerHTML = "<input disabled type='text'   class='form-control color_code'  value=" + obj.color_code + " >";
                    cell2.innerHTML = "<input disabled type='text' style='display:none;'   class='form-control size_name'  >";
                    cell3.innerHTML = "<input disabled type='number'   class='form-control colorQty'             value=" + color_qty + ">";
                    cell4.innerHTML = "<input disabled type='text'   class='form-control finish_receive_qty'             value=" + obj.finish_receive_qty + ">";
                    //cell5.innerHTML = "<input  type='number' disabled   class='form-control  already_rec_qty' value=" + cel5_value + " >";
                    cell5.innerHTML = "<input  type='number' disabled   class='form-control  already_rec_qty' value=" + obj.production_quantity + " >";
                    cell6.innerHTML = "<input  type='number'   class='form-control rec_qty'  value=0  onchange='updateBalanceQty(this);' >";
                    cell7.innerHTML = "<input  type='number' disabled  class='form-control rec_bal_qty'   value=" + bal_qty + ">";
                    cell2.style.display = "none";
                
                      
            });

        });

    }


    function updateBalanceQty(input) {
        debugger;
        const row = input.closest('tr');
        const finish_receive_qty = parseInt(row.querySelector('.finish_receive_qty').value) || 0;
        const alreadyRecQty = parseInt(row.querySelector('.already_rec_qty').value) || 0;
        const recQty = parseInt(row.querySelector('.rec_qty').value) || 0;
        const rec_bal_qty = parseInt(row.querySelector('.rec_bal_qty').value) || 0;

        // Calculate the total received quantity
        const totalRecQty = alreadyRecQty + recQty;

        // Calculate the received balance quantity
        const recBalQty = finish_receive_qty - totalRecQty;

        const validationCheck = finish_receive_qty - alreadyRecQty;
    

       if (recQty === validationCheck || recQty < validationCheck) {
            row.querySelector('.rec_bal_qty').value = recBalQty;
        } else { 
            if (recQty > finish_receive_qty || recQty > validationCheck) {

                showErrorAlert("Alert", "Production quantity cannot be greater than tota receive quantity !", "OK");
                $('.rec_qty').val('');
                return;

            }
        
        }
   
        //row.querySelector('.rec_bal_qty').value = recBalQty;

    }

    // $(document).on('change', '.reqQuantity', function (e) {
    //     var $input = $(this);
    //     var value = $input.val();



    //     if (value.length > 1 && value.startsWith('0')) {
    //         $input.val(value.substring(1));
    //     }

    // });

</script>

